:root { 
--white_A700_00:#ffffff00; 
--white_A700_cc:#ffffffcc; 
--white_A700_97:#ffffff97; 
--gray_800_19:#4e4e4e19; 
--white_A700_e6:#ffffffe6; 
--white_A700_90:#ffffff90; 
--white_A700_19:#ffffff19; 
--white_A700_28:#ffffff28; 
--white_A700:#ffffff; 
--white_A700_09:#ffffff09; 
}